.container {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .container {
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.header {
  background-image: url("header-bg.ead5c99f.png");
  background-position: center;
  background-size: cover;
}

.header__content {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: flex;
}

.header__title {
  margin: 0;
  font-family: Space Grotesk, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}

@media (width >= 576px) {
  .header__title {
    font-size: 48px;
  }
}

.header__bottom {
  padding-bottom: 40px;
}

@media (width >= 576px) {
  .header__bottom {
    padding-bottom: 65px;
  }
}

.page {
  color: #292929;
  scroll-behavior: smooth;
  font-family: Space Mono, monospace;
  font-size: 16px;
  line-height: 140%;
}

.page :has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  min-width: 320px;
  margin: 0;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar {
    padding-block: 32px;
  }
}

.top-bar__icons {
  gap: 24px;
  display: flex;
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  height: 16px;
  transition: transform .3s;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .top-bar__logo {
    height: 24px;
  }
}

.icon {
  background-image: url("icon-burger-menu.a4b8f172.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
}

.icon:hover {
  transform: scale(1.2);
}

@media (width >= 576px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  background-image: url("icon-phone.42006ffb.svg");
  transition-duration: .3s;
  position: relative;
}

@media (width >= 1024px) {
  .icon--phone:hover:before {
    content: "+1 234 555-55-55";
    color: #292929;
    letter-spacing: 2px;
    width: 139px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 40px;
  }
}

.icon--menu {
  background-image: url("icon-burger-menu.a4b8f172.svg");
}

.icon--menu:hover {
  background-image: url("icon-burger-menu-hover.94f642b0.svg");
}

.icon--close {
  background-image: url("icon-close.c6ac7c4d.svg");
}

.menu {
  box-sizing: border-box;
  background-color: #e5e6e8;
  height: 100vh;
  font-family: Space Grotesk, sans-serif;
  font-weight: 700;
}

.menu__top {
  margin-bottom: 32px;
}

@media (width >= 576px) {
  .menu__top {
    margin-bottom: 56px;
  }
}

.menu__nav {
  margin-bottom: 48px;
}

.menu__phone-number {
  color: inherit;
  letter-spacing: .12em;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  display: block;
}

.menu__call-to-order {
  color: inherit;
  letter-spacing: .12em;
  text-transform: uppercase;
  border-bottom: 1px solid #292929;
  width: fit-content;
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  display: block;
}

.nav__list {
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__link {
  color: inherit;
  letter-spacing: .09em;
  font-size: 22px;
  line-height: 100%;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #292929;
  width: 100%;
  height: 1px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -4px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.section-title {
  text-align: left;
  margin: 0 0 48px;
  font-family: Space Grotesk, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}

@media (width >= 576px) {
  .section-title {
    margin-bottom: 56px;
    font-size: 40px;
  }
}

@media (width >= 1024px) {
  .section-title {
    font-size: 48px;
  }
}

.main {
  background-color: #fff;
}

.main__content {
  row-gap: 96px;
  padding-block: 96px;
  display: grid;
}

@media (width >= 576px) {
  .main__content {
    row-gap: 120px;
    padding-block: 120px;
  }
}

.product {
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
}

.product__photo {
  width: 100%;
}

.recommended__products {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 40px 20px;
  display: grid;
}

@media (width >= 576px) {
  .recommended__products {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .recommended__products {
    --columns: 12;
  }
}

.recommended__product {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .recommended__product {
    grid-column: 2 / -2;
  }
}

@media (width >= 1024px) {
  .recommended__product {
    grid-column: span 4;
    transition: transform .3s;
  }

  .recommended__product:hover {
    transform: scale(1.03);
  }
}

.about-us {
  background: #fff;
}

.about-us .about-us__top-image {
  background-color: #fff;
  background-image: url("about-us.d92f0a35.png");
  background-position: 50%;
  background-size: cover;
  grid-column: 1 / -1;
  width: 100%;
  height: 200px;
}

@media (width >= 576px) {
  .about-us .about-us__top-image {
    height: 400px;
  }
}

@media (width >= 1024px) {
  .about-us .about-us__top-image {
    height: 460px;
  }
}

.about-us__container-info {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 24px 20px;
  padding: 48px;
  padding-inline: 20px;
  display: grid;
}

@media (width >= 576px) {
  .about-us__container-info {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .about-us__container-info {
    --columns: 12;
  }
}

@media (width >= 576px) {
  .about-us__container-info {
    padding: 56px;
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .about-us__container-info {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.about-us__title {
  grid-column: 1 / -1;
  margin: 0;
  display: grid;
}

@media (width >= 576px) {
  .about-us__title {
    grid-column: 1 / 4;
  }
}

@media (width >= 1024px) {
  .about-us__title {
    grid-column: span 6;
  }
}

.about-us__content {
  grid-column: 1 / -1;
  margin: 0;
  display: grid;
}

@media (width >= 576px) {
  .about-us__content {
    grid-column: 4 / 7;
  }
}

@media (width >= 1024px) {
  .about-us__content {
    grid-column: span 6;
  }
}

.about-us__description {
  row-gap: 25px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 22.4px;
  list-style: none;
  display: grid;
}

.categories__wrapper {
  row-gap: 40px;
  display: grid;
}

@media (width >= 576px) {
  .categories__wrapper {
    row-gap: 56px;
  }
}

.categories__button {
  text-align: center;
  color: #fff;
  background-color: #292929;
  border: 2px solid #0000;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
  transition-duration: .3s;
  display: flex;
}

@media (width >= 1024px) {
  .categories__button {
    width: 32%;
  }
}

.categories__button:hover {
  color: #292929;
  background-color: #f8f8fa;
  border: 2px solid #f0f1f4;
}

.categories__button:active {
  color: #fff;
  background-color: #111;
}

.category__photos {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 24px 20px;
  margin-bottom: 16px;
  display: grid;
}

@media (width >= 576px) {
  .category__photos {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .category__photos {
    --columns: 12;
  }
}

.category__link {
  position: relative;
}

@media (width >= 576px) {
  .category__link--wide {
    grid-column: span 4;
  }
}

@media (width >= 1024px) {
  .category__link--wide {
    grid-column: span 8;
  }
}

.category__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 576px) {
  .category__link--square {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .category__link--square {
    grid-column: span 4;
  }
}

.category__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (width >= 1024px) {
  .category__photo {
    transition: transform .3s;
  }

  .category__photo:hover {
    transform: scale(1.03);
  }
}

.category__title {
  text-align: left;
  margin: 0;
  font-family: Space Grotesk, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
}

.contact-us {
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  display: flex;
}

.contact-us__input-name {
  box-sizing: border-box;
  background-color: #f8f8fa;
  border: none;
  border-radius: 8px;
  align-items: center;
  height: 48px;
  padding: 14px 16px;
}

.contact-us__input-name:hover {
  border: 1px solid #d5d7de;
}

.contact-us__input-name:focus {
  border: 1px solid #292929;
  outline: none;
}

.contact-us__input-email {
  box-sizing: border-box;
  background-color: #f8f8fa;
  border: none;
  border-radius: 8px;
  align-items: center;
  height: 48px;
  padding: 14px 16px;
}

.contact-us__input-email:hover {
  border: 1px solid #d5d7de;
}

.contact-us__input-email:focus {
  border: 1px solid #292929;
  outline: none;
}

.contact-us__input-message {
  resize: none;
  background-color: #f8f8fa;
  border: none;
  border-radius: 8px;
  outline: none;
  height: 108px;
  padding: 14px 16px;
  font-family: Space Mono, monospace;
  font-size: 14px;
}

.contact-us__button {
  color: #fff;
  background: #292929;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  line-height: 27px;
  transition-duration: .3s;
  display: flex;
}

.contact-us__button:hover {
  color: #292929;
  background: #f8f8fa;
  border: 2px solid #f0f1f4;
}

.contact-us__button:focus {
  background: #111;
}

.footer {
  margin-bottom: 64px;
  padding-block: 64px 0;
  padding-inline: 20px;
}

@media (width >= 576px) {
  .footer {
    margin-bottom: 120px;
    padding-block: 120px 0;
    padding-inline: 72px;
  }
}

@media (width >= 1024px) {
  .footer {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.footer__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 24px 20px;
  display: grid;
}

@media (width >= 576px) {
  .footer__content {
    --columns: 6;
    column-gap: 24px;
  }
}

@media (width >= 1024px) {
  .footer__content {
    --columns: 12;
  }
}

.footer__contact-us {
  grid-column: 1 / -1;
}

@media (width >= 576px) {
  .footer__contact-us {
    grid-column: span 6;
  }
}

.footer__contacts {
  flex-direction: column;
  grid-column: 1 / -1;
  gap: 24px;
  padding-block: 48px 64px;
  display: flex;
}

@media (width >= 576px) {
  .footer__contacts {
    padding-block: 80px 120px;
  }
}

@media (width >= 1024px) {
  .footer__contacts {
    grid-column: 8 / -1;
    padding: 0;
  }
}

.footer__contact-label {
  color: #7e7e83;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 19.6px;
  display: inline-block;
}

.footer__link {
  color: #292929;
  font-style: normal;
  text-decoration: none;
  transition-duration: .3s;
}

.footer__link:hover {
  color: #7e7e83;
}
/*# sourceMappingURL=index.38ec9247.css.map */
